/* Nav Bar */
.topnav {
  display: flex;
  justify-content: space-between;
  border: 3px solid cornflowerblue;
}

.topnav a {
    color: #1d1d1d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    max-height:50vh;  
    font-family: 'Lexend', sans-serif;}


.topnav img{
  max-height:50vh;  
}

.topnav a:hover {
    text-decoration: underline;
}

/* Title */
.center{
  color: black;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}


/* Items  flex the img1 and title1 children in a column */
.flexbox-container{
  display: flex;
  border: 3px solid red;
  background-color: yellow;
  color: black;
  height: auto;
  justify-content: space-between;
  align-items: flex-end;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.image-container1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 20%;
  padding-right: 20%;
  margin:  5vh;
  height: auto;
  width: 50%;
  max-width: 100%;
  border: 3px solid blue;
  background-color: aqua;
}

.image-link a:hover{
  border: 3px solid red;
}

.image-item{
  margin: 1vh;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  border: 3px solid blue;
  background-color: red;
}

.title-container1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 3px solid cornflowerblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: pink;
  background-color: aqua;
  height: 2vh;
  width: 40%;
  padding-left: 20%;
  padding-right: 20%;
  margin: auto;
}
menu-item{
  font-family: 'Lexend', sans-serif;
}





html {
  scroll-behavior: smooth;
}
/* ----Level 2 Pages Styling ----*/

h1{
  font-family: 'Lexend', sans-serif;
}

#v60-title{
  font-family: 'Lexend', sans-serif;
  margin-left: 65px;
  border: 3px solid red;
}

.content-container{
  display: flex;
  padding: 10px;
  border: 3px solid red;
}
.large-img{
  width: 400px;
  height: 400px;
  padding: 20px;
  margin-top: 20px;
  margin: 50px;
  border: 3px solid cornflowerblue;
  background-color: beige;

}

.info-text{
  font-family: 'Lexend', sans-serif;
  border: 3px solid cornflowerblue;
  margin: 50px;
  font-weight: bold;

}

.child-info{
  margin-left: 10px;
  font-weight: 100;
  font-family: 'Quicksand', sans-serif;

}

.image-item { transition: all .4s ease-in-out; }


.image-item:hover{
  transform: translateY(-7px);
  transition: .3s ease-in-out;
  /* transition: transform 250ms linear; */
  /* transition:cubic-bezier(0.19, 1, 0.22, 1) 1s linear; */
  /* transition: .3s linear; */

}


@media screen and (max-width: 500){
  .image-container1{
      flex-direction: column;
      height: 700px;
      padding-bottom: 200px;
      
  }
}



